home "https://tmobile.dgg188.cn"
registry "https://tmobile.dgg188.cn"
sass_binary_site "http://cdn.npm.taobao.org/dist/node-sass"
phantomjs_cdnurl "https://npm.taobao.org/mirrors/phantomjs"
electron_mirror "https://npm.taobao.org/mirrors/electron"
chromedriver_cdnurl "http://npm.taobao.org/mirrors/chromedriver"
operadriver_cdnurl "http://npm.taobao.org/mirrors/operadriver"
selenium_cdnurl "http://npm.taobao.org/mirrors/selenium"
node_inspector_cdnurl "https://npm.taobao.org/mirrors/node-inspector"
geckodriver_cdnurl "https://npm.taobao.org/mirrors/geckodriver/"
